services:
  hytale:
    build: .
    container_name: hytale_server
    restart: unless-stopped
    ports:
      - "5520:5520/udp"
    environment:
      - HYTALE_PATCHLINE=release
      - UPDATE_ON_BOOT=false
      - SERVER_PORT=5520
      - JAVA_MS=4G
      - JAVA_MX=8G
    volumes:
      - ./server:/data
    stdin_open: true
    tty: true
    # prevent kernel module loading
    cap_drop:
      - ALL
    cap_add:
      - CHOWN # Required for file permissions
      - SETUID # Required for gosu
      - SETGID # Required for gosu
      - DAC_OVERRIDE
    security_opt:
      - no-new-privileges:true
